astropy==7.2.0
astropy-iers-data==0.2026.1.19.0.42.31
certifi==2026.1.4
charset-normalizer==3.4.4
colorama==0.4.6
ephem==4.2.1
fastapi==0.116.1
idna==3.11
iniconfig==2.3.0
jplephem==2.23
korean-lunar-calendar==0.3.1
numpy==2.4.1
packaging==25.0
pillow==12.1.0
pluggy==1.6.0
pydantic==2.11.4
pyerfa==2.0.1.5
Pygments==2.19.2
pytest==9.0.2
python-dotenv==1.2.1
pytz==2025.2
PyYAML==6.0.3
reportlab==4.4.9
requests==2.32.5
sgp4==2.25
skyfield==1.54
tzdata==2025.3
urllib3==2.6.3
uvicorn==0.35.0
